@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: #efe9db;

  max-width: 600px;
  margin: auto;
}

.title {
  font-size: 2em;
  color: #333;
}

#word-container {
  font-size: 3em;
  margin: 20px 0;
}

#wrong-letters-container {
  color: #ff0000;
}

#guess-input-container {
  margin-top: 20px;
}

.key {
  width: auto;
  height: auto;
  min-width: 3rem;
  min-height: 3rem;
  padding: 1rem;
  font-size: 18px;
  cursor: pointer;
  background-color: #efe9db;
  color: #2e2d2a;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #a1a1a1;
  border: 2px solid #2e2d2a;
}

.key:disabled {
  cursor: not-allowed;
}

#keyboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 20px;
}

.correct-letter,
.wrong-letter {
  color: #333;
}

.correct-letter {
  background-color: #91d391;
}

.wrong-letter {
  background-color: #e46e6e;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}

.dlg {
  background-color: #fff;
  border: 2px solid #000000;

  max-height: 500px;
  max-width: 400px;

  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dlg h2 {
  font-size: 1.5em;
}

.dlg p {
  padding: 1em;
  text-align: left;
}

.dlg .preference {
  padding: 10px;
}

.dlg {
  background-color:#efe9db;;
}

/* 
        <div class="preference">
            <label for="tentativas">Número de Tentativas:</label>
            <input type="number" id="tentativas" value="6" min="1" max="10">
        </div>
 */

/* Styles for the input element */

#tentativas {
  width: 2.5rem;
  outline: none;
  border: none;
  background-color: #efe9db;
  color: #2e2d2a;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  transition: background-color 0.3s;
}


select {
  outline: none;
  border: none;
  background-color: #efe9db;
  color: #2e2d2a;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  transition: background-color 0.3s;
}







